@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Gothic+A1:wght@600&display=swap');

:root {
    --primary-color: #212121;
    --secondary-color: #6D9886;
    --tertiary-color: #D9CAB3;
    --quaternary-color: #F6F6F6; 
  }

.modals {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: top;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modals.show {
    opacity: 1;
    pointer-events: visible;
}

.modals-content {
    position: fixed;
    top: 25%;
    width: 500px;
    height: 455px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    padding: 15px;
}

.modals-content-alexis {
    position: fixed;
    top: 25%;
    width: 500px;
    height: 385px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    padding: 15px;
}

span {
    font-weight: bold;
}

.modal-head {
    font-family: 'Rock Salt';
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
    text-shadow: 1px 1px var(--tertiary-color);
}

.close {
    padding: 5px;
    float: right;
}

.links {
    font-family: 'Rock Salt';
    font-size: 1em;
}

#git {
    float: right;
}

.hub, .arrow {
    color: var(--tertiary-color);
}

@media screen and (max-width: 575px) {
    .modals-content {
        width: 400px;
        height: 360px;
    }

    .modals-content-blog{
        width: 400px;
        height: 450px;
    }

    .modal-head {
        font-size: 20px;
        font-weight: bolder;
    }

    p {
        font-size: 12px;
    }
}