@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Gothic+A1:wght@600&display=swap');

:root {
  --primary-color: #212121;
  --secondary-color: #6D9886;
  --tertiary-color: #D9CAB3;
  --quaternary-color: #F6F6F6; 
}

label {
    color: var(--secondary-color);
    font-family: 'Gothic A1', sans-serif;
    font-size: 24px;
    padding: 10px;
}

.error-msg {
    color: rgb(233, 108, 99);
    margin-left: 10px;
}

.message-label {
    width: 100%;
}

.msg-input {
    margin-left: 10px;
    width: 30%;
}

.submit-btn {
    background-color: var(--tertiary-color);
    font-family: 'Rock Salt', cursive;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
}
