@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Gothic+A1:wght@600&display=swap');

:root {
  --primary-color: #212121;
  --secondary-color: #6D9886;
  --tertiary-color: #D9CAB3;
  --quaternary-color: #F6F6F6; 
}

.card {
    margin: 10px;
    background-color: var(--tertiary-color);
    font-family: 'Gothic A1', sans-serif;
    cursor: pointer;
}

.card-title {
    background-color: var(--tertiary-color);
    padding: 5px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#recipes,
#grow-time,
#tech,
#hunt,
#taskmaster,
#too-good {
    filter: grayscale(75%);
}

#recipes:hover,
#grow-time:hover,
#tech:hover,
#hunt:hover,
#taskmaster:hover,
#too-good:hover {
    filter: grayscale(15%);
}

.git {
    color: var(--secondary-color); 
}

.git:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

@media screen and (max-width: 980px) {
    #waste {
        font-size: 24px;
    }
}


@media screen and (max-width: 768px) {
    #twisted, #blog, #task, #grow, #pizza {
        font-size: 20px;
    }

    #waste {
        font-size: 18px;
    }
}

@media screen and (max-width: 575px) {
    .card-title {
        font-size: medium;
    }

    #twisted, #blog, #task {
        font-size: small;
    }

    #waste {
        font-size: x-small;
    }

    .wrapper {
        min-height: 900px;
    }
}