@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Gothic+A1:wght@600&display=swap');

:root {
  --primary-color: #212121;
  --secondary-color: #6D9886;
  --tertiary-color: #D9CAB3;
  --quaternary-color: #F6F6F6; 
}

header {
  background-image: url(../src/assets/images/BrickBackground.jpg);
  background-size: cover;
  height: 200px;
  color: var(--quaternary-color);
  font-family: 'Rock Salt', cursive;
  display: flex;
  justify-content: center;
  align-items:flex-end;
}

.name-header {
  padding: 50px;
  font-size: 60px;
  text-shadow: 0 0 12px var(--primary-color);
}

.navbar {
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  color: var(--quaternary-color);
  text-shadow: 0 0 12px var(--primary-color);
  font-family: 'Gothic A1', sans-serif;
  font-weight: bolder;
}

.link:hover, .navActive, .navActive:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.wrapper {
  min-height: 1500px;
  background-color: var(--primary-color);
}

.icon {
  color: var(--secondary-color);
  filter: drop-shadow(6px 6px 10px var(--primary-color)); 
  margin-bottom: 10px;
}

.icon:hover {
  color: var(--quaternary-color);
  transform: scale(1.2);
}


